<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap   PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"     "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap  namespace="com.ufgov.zc.server.sf.dao.SfEntrustManageMapper" >
	<typeAlias alias="elementCondition" type="com.ufgov.zc.common.system.dto.ElementConditionDto" />
  <resultMap id="BaseResultMap" class="com.ufgov.zc.common.sf.model.SfEntrustManage" > 
    <result column="MANAGE_ID" property="manageId" jdbcType="DECIMAL" />
    <result column="ENTRUST_ID" property="entrustId" jdbcType="DECIMAL" />
    <result column="MANAGE_TIME" property="manageTime" jdbcType="DATE" />
    <result column="REASON" property="reason" jdbcType="VARCHAR" />
    <result column="INPUTOR" property="inputor" jdbcType="VARCHAR" />
    <result column="INPUT_DATE" property="inputDate" jdbcType="DATE" />
    <result column="MANAGE_TYPE" property="manageType" jdbcType="VARCHAR" />
    <result column="ND" jdbcType="DECIMAL" property="nd" />
    <result column="CO_CODE" jdbcType="VARCHAR" property="coCode" />
    <result column="MANAGE_CONTENT" jdbcType="VARCHAR" property="managerContent" />
    <result column="OLD_END_DATE" property="oldEndDate" jdbcType="DATE" />
    <result column="NEW_END_DATE" property="newEndDate" jdbcType="DATE" />
    <result column="ENTRUST_CODE" jdbcType="VARCHAR" property="entrustCode" />
    <result column="MANAGE_TYPE_TXT" jdbcType="VARCHAR" property="manageTypeTxt" />
  </resultMap>
  <sql id="Base_Column_List" > 
    MANAGE_ID, ENTRUST_ID, MANAGE_TIME, REASON, INPUTOR, INPUT_DATE, MANAGE_TYPE,ND,CO_CODE,MANAGE_CONTENT,OLD_END_DATE,NEW_END_DATE,ENTRUST_CODE,MANAGE_TYPE_TXT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterClass="java.math.BigDecimal" > 
    select 
    <include refid="Base_Column_List" />
    from SF_ENTRUST_MANAGE
    where MANAGE_ID = #manageId:DECIMAL#
  </select>
  <select id="selectMainDataLst" parameterClass="elementCondition" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_ENTRUST_MANAGE
    where 1=1  
		<include refid="BusiNumLim.BusiNumLimStr" />  
		<isNotNull prepend="AND" property="dattr1"> 
			ENTRUST_ID=#dattr1#
		</isNotNull> 
		<!-- 列表界面上的搜索条件 -->
		<isNotNull prepend="AND" property="dattr5"> 
			ENTRUST_ID=#dattr5#
		</isNotNull>  
	<isNotEqual prepend="and" compareValue="0" property="nd">
			SF_ENTRUST_MANAGE.ND = #nd#
   </isNotEqual> 
   order by SF_ENTRUST_MANAGE.MANAGE_ID desc
  </select>
  <delete id="deleteByPrimaryKey" parameterClass="java.math.BigDecimal" > 
    delete from SF_ENTRUST_MANAGE
    where MANAGE_ID = #manageId:DECIMAL#
  </delete>
  <insert id="insert" parameterClass="com.ufgov.zc.common.sf.model.SfEntrustManage" > 
    insert into SF_ENTRUST_MANAGE (MANAGE_ID, ENTRUST_ID, MANAGE_TIME, 
      REASON, INPUTOR, INPUT_DATE, MANAGE_TYPE,ND,CO_CODE,MANAGE_CONTENT,OLD_END_DATE,NEW_END_DATE,ENTRUST_CODE,MANAGE_TYPE_TXT)
    values (#manageId:DECIMAL#, #entrustId:DECIMAL#, #manageTime:DATE#, 
      #reason:VARCHAR#, #inputor:VARCHAR#, #inputDate:DATE#,#manageType:VARCHAR#,
      #nd:DECIMAL#,#coCode#,#managerContent#,#oldEndDate:DATE#,#newEndDate:DATE#,#entrustCode#,#manageTypeTxt#)
  </insert> 
  <update id="updateByPrimaryKey" parameterClass="com.ufgov.zc.common.sf.model.SfEntrustManage" > 
    update SF_ENTRUST_MANAGE
    set ENTRUST_ID = #entrustId:DECIMAL#,
      MANAGE_TIME = #manageTime:DATE#,
      REASON = #reason:VARCHAR#,
      INPUTOR = #inputor:VARCHAR#,
      INPUT_DATE = #inputDate:DATE#,
      MANAGE_TYPE = #manageType:VARCHAR#,
      ND= #nd:DECIMAL#,
      CO_CODE=#coCode#,
      MANAGE_CONTENT=#managerContent#,
      OLD_END_DATE=#oldEndDate:DATE#,
      NEW_END_DATE=#newEndDate:DATE#,
      ENTRUST_CODE=#entrustCode#,
      MANAGE_TYPE_TXT=#manageTypeTxt#
    where MANAGE_ID = #manageId:DECIMAL#
  </update>
</sqlMap>