<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap   PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"     "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="com.ufgov.zc.server.sf.dao.SfJdResultFileMapper" >
	<typeAlias alias="elementCondition" type="com.ufgov.zc.common.system.dto.ElementConditionDto" />
  <resultMap id="BaseResultMap" class="com.ufgov.zc.common.sf.model.SfJdResultFile" > 
    <result column="SF_JD_RESULT_FILE_ID" property="sfJdResultFileId" jdbcType="DECIMAL" />
    <result column="JD_RESULT_ID" property="jdResultId" jdbcType="DECIMAL" />
    <result column="FILE_ID" property="fileId" jdbcType="VARCHAR" />
    <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="MODEL_ID" property="model.modelId" jdbcType="DECIMAL" />
    <result column="FILE_TYPE" property="model.fileType" jdbcType="VARCHAR" /> 
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" > 
    SF_JD_RESULT_FILE_ID, MODEL_ID, JD_RESULT_ID, FILE_ID, FILE_NAME,REMARK
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterClass="java.math.BigDecimal" > 
    select 
    f.SF_JD_RESULT_FILE_ID, f.MODEL_ID, f.JD_RESULT_ID, f.FILE_ID, f.FILE_NAME,m.file_type,F.name,F.REMARK
    from SF_JD_RESULT_FILE f,SF_JD_RECORD_FILE_MODEL m
    where f.SF_JD_RESULT_FILE_ID = #sfJdResultFileId:DECIMAL#
    and f.model_id=m.model_id
  </select>
  <select id="selectByResultId" resultMap="BaseResultMap" parameterClass="elementCondition" > 
    select 
    f.SF_JD_RESULT_FILE_ID, f.MODEL_ID, f.JD_RESULT_ID, f.FILE_ID, f.FILE_NAME,m.file_type,F.name,F.REMARK
    from SF_JD_RESULT_FILE f,SF_JD_RECORD_FILE_MODEL m
    where f.JD_RESULT_ID = #sfId:DECIMAL#
    and  f.model_id=m.model_id(+)
    <isNotNull prepend="AND" property="dattr1">  <!--选择用页签显示的文件和上传的附件 -->	 		
		<isEqual property="dattr1" compareValue="resultFile">  <!--用页签显示的有模板id  -->
			f.model_id is not null
		</isEqual>		
		<isEqual property="dattr1" compareValue="attacheFile">  <!--附件没有模板id  -->
			f.model_id is null
		</isEqual>
	</isNotNull>
  </select>
  <delete id="deleteByPrimaryKey" parameterClass="java.math.BigDecimal" > 
    delete from SF_JD_RESULT_FILE
    where SF_JD_RESULT_FILE_ID = #sfJdResultFileId:DECIMAL#
  </delete>
  <delete id="deleteByResultId" parameterClass="java.math.BigDecimal" > 
    delete from SF_JD_RESULT_FILE
    where JD_RESULT_ID = #jdResultId:DECIMAL#
  </delete>
  <insert id="insert" parameterClass="com.ufgov.zc.common.sf.model.SfJdResultFile" > 
    insert into SF_JD_RESULT_FILE (SF_JD_RESULT_FILE_ID, MODEL_ID, JD_RESULT_ID, 
      FILE_ID, FILE_NAME,NAME,REMARK)
    values (#sfJdResultFileId:DECIMAL#, #model.modelId:DECIMAL#, #jdResultId:DECIMAL#, 
      #fileId:VARCHAR#, #fileName:VARCHAR#,#name#,#remark#)
  </insert> 
  <update id="updateByPrimaryKey" parameterClass="com.ufgov.zc.common.sf.model.SfJdResultFile" > 
    update SF_JD_RESULT_FILE
    set MODEL_ID = #model.modelId:DECIMAL#,
      JD_RESULT_ID = #jdResultId:DECIMAL#,
      FILE_ID = #fileId:VARCHAR#,
      FILE_NAME = #fileName:VARCHAR#,
      NAME=#name#,
      REMARK=#remark#
    where SF_JD_RESULT_FILE_ID = #sfJdResultFileId:DECIMAL#
  </update>
</sqlMap>