<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap   PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"     "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="com.ufgov.zc.server.sf.dao.SfMaterialsMapper">
	<typeAlias alias="elementCondition" type="com.ufgov.zc.common.system.dto.ElementConditionDto" />
	<typeAlias alias="materials" type="com.ufgov.zc.common.sf.model.SfMaterials" />
  <resultMap id="BaseResultMap" class="materials">
    <result column="MATERIAL_ID" jdbcType="DECIMAL" property="materialId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="QUANTITY" jdbcType="DECIMAL" property="quantity" />
    <result column="QUANTITY2" jdbcType="DECIMAL" property="quantity2" />
    <result column="UNIT" jdbcType="VARCHAR" property="unit" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="ENTRUST_ID" jdbcType="DECIMAL" property="entrustId" />
    <result column="MATERIAL_TYPE" jdbcType="VARCHAR" property="materialType" />
    <result column="QUANTITY3" jdbcType="VARCHAR" property="quantity3" />
    <result column="BIANHAO" jdbcType="VARCHAR" property="bianhao" />
    <result column="APPEND_MATERIAL_ID" jdbcType="DECIMAL" property="appendMaterialId" />
    <result column="ATTACH_FILE" jdbcType="VARCHAR" property="attachFile" />
    <result column="ATTACH_FILE_BLOBID" jdbcType="VARCHAR" property="attachFileBlobid" />
    <result column="JIAN_HOU_CHULI_TYPE" jdbcType="VARCHAR" property="jianHouChuliType" />
    <result column="SAVE_CONDITON" jdbcType="VARCHAR" property="saveConditon" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="JIAN_HOU_STORE_TIME" jdbcType="DECIMAL" property="jianHouStoreTime" />
    <result column="SAVE_ADDRESS" jdbcType="VARCHAR" property="saveAddress" />
    <result column="BAR_CODE" jdbcType="VARCHAR" property="barCode" />
    <result column="TQ_INFO" jdbcType="VARCHAR" property="tqInfo" />
    <result column="TIQU_FILE" jdbcType="VARCHAR" property="tiquFile" />
    <result column="TIQU_FILE_BLOBID" jdbcType="VARCHAR" property="tiquFileBlobid" />
  </resultMap>
  <sql id="Base_Column_List">
    MATERIAL_ID, NAME, QUANTITY, UNIT, DESCRIPTION, ENTRUST_ID,QUANTITY2,QUANTITY3,MATERIAL_TYPE,BIANHAO,APPEND_MATERIAL_ID, 
    ATTACH_FILE, ATTACH_FILE_BLOBID, JIAN_HOU_CHULI_TYPE, 
    SAVE_CONDITON, REMARK, JIAN_HOU_STORE_TIME, SAVE_ADDRESS, BAR_CODE,TQ_INFO,TIQU_FILE,TIQU_FILE_BLOBID
  </sql>
  <select id="selectByPrimaryKey" parameterClass="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_MATERIALS
    where MATERIAL_ID = #materialId:DECIMAL#
  </select>
  <select id="selectByEntrustId" parameterClass="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_MATERIALS
    where ENTRUST_ID = #entrustId:DECIMAL#
    order by bianhao
  </select>
  <select id="selectByAppentMaterialsId" parameterClass="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_MATERIALS
    where APPEND_MATERIAL_ID = #appentMaterialsId:DECIMAL#
  </select>
  <delete id="deleteByPrimaryKey" parameterClass="java.math.BigDecimal">
    delete from SF_MATERIALS
    where MATERIAL_ID = #materialId:DECIMAL#
  </delete>
  <delete id="deleteByEntrustId" parameterClass="java.math.BigDecimal">
    delete from SF_MATERIALS
    where ENTRUST_ID = #entrustId:DECIMAL#
  </delete>
  <delete id="deleteByAppentMaterialsId" parameterClass="java.math.BigDecimal">
    delete from SF_MATERIALS
    where APPEND_MATERIAL_ID = #appendMaterialsId:DECIMAL#
  </delete>
  <insert id="insert" parameterClass="com.ufgov.zc.common.sf.model.SfMaterials">
    insert into SF_MATERIALS (MATERIAL_ID, NAME, QUANTITY, 
      UNIT, DESCRIPTION, ENTRUST_ID,QUANTITY2,QUANTITY3,MATERIAL_TYPE,BIANHAO,APPEND_MATERIAL_ID, 
    ATTACH_FILE, ATTACH_FILE_BLOBID, JIAN_HOU_CHULI_TYPE, 
    SAVE_CONDITON, REMARK, JIAN_HOU_STORE_TIME, SAVE_ADDRESS, BAR_CODE,TQ_INFO,TIQU_FILE,TIQU_FILE_BLOBID
      )
    values (#materialId:DECIMAL#, #name:VARCHAR#, #quantity:DECIMAL#, 
      #unit:VARCHAR#, #description:VARCHAR#, #entrustId:DECIMAL#, #quantity2:DECIMAL#,#quantity3#,#materialType#,#bianhao#,
      #appendMaterialId:DECIMAL#, #attachFile:VARCHAR#, #attachFileBlobid:VARCHAR#,
      #jianHouChuliType:VARCHAR#, #saveConditon:VARCHAR#, 
      #remark:VARCHAR#, #jianHouStoreTime:DECIMAL#, #saveAddress:VARCHAR#, 
      #barCode:VARCHAR#,#tqInfo#,#tiquFile#,#tiquFileBlobid#
      )
  </insert>
  <update id="updateByPrimaryKey" parameterClass="com.ufgov.zc.common.sf.model.SfMaterials">
    update SF_MATERIALS
    set NAME = #name:VARCHAR#,
      QUANTITY = #quantity:DECIMAL#,
      QUANTITY2 = #quantity2:DECIMAL#,
      QUANTITY3= #quantity3#,
      UNIT = #unit:VARCHAR#,
      DESCRIPTION = #description:VARCHAR#,
      ENTRUST_ID = #entrustId:DECIMAL#,
      MATERIAL_TYPE=#materialType#,
      BIANHAO=#bianhao#,
      APPEND_MATERIAL_ID=#appendMaterialId:DECIMAL#,
      ATTACH_FILE = #attachFile:VARCHAR#,
      ATTACH_FILE_BLOBID = #attachFileBlobid:VARCHAR#,
      JIAN_HOU_CHULI_TYPE = #jianHouChuliType:VARCHAR#,
      SAVE_CONDITON = #saveConditon:VARCHAR#,
      REMARK = #remark:VARCHAR#,
      JIAN_HOU_STORE_TIME = #jianHouStoreTime:DECIMAL#,
      SAVE_ADDRESS = #saveAddress:VARCHAR#,
      BAR_CODE = #barCode:VARCHAR#,
      TQ_INFO=#tqInfo#,
      TIQU_FILE=#tiquFile#,
      TIQU_FILE_BLOBID=#tiquFileBlobid#
    where MATERIAL_ID = #materialId:DECIMAL#
  </update>
</sqlMap>