<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap   PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"     "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="com.ufgov.zc.server.sf.dao.SfSjMapper" >
	<typeAlias alias="elementCondition" type="com.ufgov.zc.common.system.dto.ElementConditionDto" />
  <resultMap id="BaseResultMap" class="com.ufgov.zc.common.sf.model.SfSj" > 
    <result column="SJ_ID" property="sjId" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PYM" property="pym" jdbcType="VARCHAR" />
    <result column="TXM" property="txm" jdbcType="VARCHAR" />
    <result column="PACK_SPEC" property="packSpec" jdbcType="VARCHAR" />
    <result column="UNIT_ID" property="unit.unitId" jdbcType="DECIMAL" />
    <result column="UNIT_NAME" property="unit.unitName" jdbcType="VARCHAR" />
    <result column="STORE_CONDITION" property="storeCondition" jdbcType="VARCHAR" />
    <result column="PIZHUN_DOC_CODE" property="pizhunDocCode" jdbcType="VARCHAR" />
    <result column="STORE_LIMIT_MIN" property="storeLimitMin" jdbcType="DECIMAL" />
    <result column="STORE_LIMIT_MAX" property="storeLimitMax" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="HAS_TIAOMA" property="hasTiaoma" jdbcType="VARCHAR" />
    <result column="STOP_REASON" property="stopReason" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CO_CODE" property="coCode" jdbcType="VARCHAR" />
    <result column="REGIST_CODE" property="registCode" jdbcType="VARCHAR" />
    <result column="PRODUCTOR_ID" property="productor.supplierId" jdbcType="DECIMAL" />
    <result column="PRODUCTOR_NAME" property="productor.name" jdbcType="VARCHAR" />
    <result column="GROUP_ID" property="sjGroup.groupId" jdbcType="DECIMAL" />
    <result column="GROUP_NAME" property="sjGroup.groupName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" > 
    SJ_ID, NAME, PYM, TXM, PACK_SPEC, UNIT_ID, STORE_CONDITION, PIZHUN_DOC_CODE, STORE_LIMIT_MIN, 
    STORE_LIMIT_MAX, STATUS, HAS_TIAOMA, STOP_REASON, REMARK, CO_CODE, PRODUCTOR_ID,REGIST_CODE,SJ_GROUP
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterClass="java.math.BigDecimal" > 
    select  SF_SJ.sj_id,
       SF_SJ.name,
       SF_SJ.pym,
       SF_SJ.txm,
       SF_SJ.pack_spec,
       unit.unit_id,
       unit.unit_name,
       SF_SJ.store_condition,
       SF_SJ.pizhun_doc_code,
       SF_SJ.store_limit_min,
       SF_SJ.store_limit_max,
       SF_SJ.status,
       SF_SJ.has_tiaoma,
       SF_SJ.stop_reason,
       SF_SJ.remark,
       SF_SJ.co_code,
       SF_SJ.productor_id,
       SF_SJ.regist_code,
       SF_SJ_SUPPLIER.NAME AS PRODUCTOR_NAME,
       SF_SJ_GROUP.GROUP_ID,
       SF_SJ_GROUP.GROUP_NAME
  from sf_sj,SF_SJ_SUPPLIER,SF_SJ_UNIT UNIT,SF_SJ_GROUP
  WHERE SF_SJ.PRODUCTOR_ID=SF_SJ_SUPPLIER.SUPPLIER_ID
  AND SF_SJ.UNIT_ID=UNIT.UNIT_ID(+)
  AND SF_SJ.GROUP_ID=SF_SJ_GROUP.GROUP_ID(+)
  AND  SF_SJ.SJ_ID = #sjId:DECIMAL#
  </select>
  <select id="selectMainDataLst" resultMap="BaseResultMap" parameterClass="elementCondition" > 
    select  SF_SJ.sj_id,
       SF_SJ.name,
       SF_SJ.pym,
       SF_SJ.txm,
       SF_SJ.pack_spec,
       unit.unit_id,
       unit.unit_name,
       SF_SJ.store_condition,
       SF_SJ.pizhun_doc_code,
       SF_SJ.store_limit_min,
       SF_SJ.store_limit_max,
       SF_SJ.status,
       SF_SJ.has_tiaoma,
       SF_SJ.stop_reason,
       SF_SJ.remark,
       SF_SJ.co_code,
       SF_SJ.productor_id,
       SF_SJ.regist_code,
       SF_SJ_SUPPLIER.NAME AS PRODUCTOR_NAME,
       SF_SJ_GROUP.GROUP_ID,
       SF_SJ_GROUP.GROUP_NAME
  from sf_sj,SF_SJ_SUPPLIER,SF_SJ_UNIT UNIT   ,SF_SJ_GROUP
  WHERE SF_SJ.PRODUCTOR_ID=SF_SJ_SUPPLIER.SUPPLIER_ID  
  AND SF_SJ.UNIT_ID=UNIT.UNIT_ID(+)   
  AND SF_SJ.GROUP_ID=SF_SJ_GROUP.GROUP_ID(+)
		<include refid="BusiNumLim.BusiNumLimStr" /> 
   <isNotNull prepend="AND" property="status"> 
			<isEqual property="status" compareValue="enable">
				sf_sj.status ='enable'
			</isEqual>	
			<isEqual property="status" compareValue="disable">
				sf_sj.status ='disable'
			</isEqual>	
			<isEqual property="status" compareValue="all">
				1=1
			</isEqual>	 
   </isNotNull>  
   <isNotNull prepend="AND" property="coCode"> 
   sf_sj.co_code=#coCode#
   </isNotNull>
  </select>
  <delete id="deleteByPrimaryKey" parameterClass="java.math.BigDecimal" > 
    delete from SF_SJ
    where SJ_ID = #sjId:DECIMAL#
  </delete>
  <insert id="insert" parameterClass="com.ufgov.zc.common.sf.model.SfSj" > 
    insert into SF_SJ (SJ_ID, NAME, PYM, 
      TXM, PACK_SPEC, UNIT_ID, 
      STORE_CONDITION, PIZHUN_DOC_CODE, STORE_LIMIT_MIN, 
      STORE_LIMIT_MAX, STATUS, HAS_TIAOMA, 
      STOP_REASON, REMARK, CO_CODE, 
      PRODUCTOR_ID,REGIST_CODE,GROUP_ID)
    values (#sjId:DECIMAL#, #name:VARCHAR#, #pym:VARCHAR#, 
      #txm:VARCHAR#, #packSpec:VARCHAR#, #unit.unitId:DECIMAL#, 
      #storeCondition:VARCHAR#, #pizhunDocCode:VARCHAR#, #storeLimitMin:DECIMAL#, 
      #storeLimitMax:DECIMAL#, #status:VARCHAR#, #hasTiaoma:VARCHAR#, 
      #stopReason:VARCHAR#, #remark:VARCHAR#, #coCode:VARCHAR#, 
      #productor.supplierId:DECIMAL#,#registCode#,#sjGroup.groupId#)
  </insert> 
  <update id="updateByPrimaryKey" parameterClass="com.ufgov.zc.common.sf.model.SfSj" > 
    update SF_SJ
    set NAME = #name:VARCHAR#,
      PYM = #pym:VARCHAR#,
      TXM = #txm:VARCHAR#,
      PACK_SPEC = #packSpec:VARCHAR#,
      UNIT_ID = #unit.unitId:DECIMAL#,
      STORE_CONDITION = #storeCondition:VARCHAR#,
      PIZHUN_DOC_CODE = #pizhunDocCode:VARCHAR#,
      STORE_LIMIT_MIN = #storeLimitMin:DECIMAL#,
      STORE_LIMIT_MAX = #storeLimitMax:DECIMAL#,
      STATUS = #status:VARCHAR#,
      HAS_TIAOMA = #hasTiaoma:VARCHAR#,
      STOP_REASON = #stopReason:VARCHAR#,
      REMARK = #remark:VARCHAR#,
      CO_CODE = #coCode:VARCHAR#,
      PRODUCTOR_ID = #productor.supplierId:DECIMAL#,
      REGIST_CODE=#registCode#,
      GROUP_ID=#sjGroup.groupId#
    where SJ_ID = #sjId:DECIMAL#
  </update>
   
  <select id="selectUsingById" resultMap="BaseResultMap" parameterClass="elementCondition" > 
  	 select  SF_SJ.sj_id,
       SF_SJ.name,
       SF_SJ.pym,
       SF_SJ.txm,
       SF_SJ.pack_spec,
       unit.unit_id,
       unit.unit_name,
       SF_SJ.store_condition,
       SF_SJ.pizhun_doc_code,
       SF_SJ.store_limit_min,
       SF_SJ.store_limit_max,
       SF_SJ.status,
       SF_SJ.has_tiaoma,
       SF_SJ.stop_reason,
       SF_SJ.remark,
       SF_SJ.co_code,
       SF_SJ.productor_id,
       SF_SJ.regist_code,
       SF_SJ_SUPPLIER.NAME AS PRODUCTOR_NAME,
       SF_SJ_GROUP.GROUP_ID,
       SF_SJ_GROUP.GROUP_NAME
  from sf_sj,SF_SJ_SUPPLIER ,SF_SJ_UNIT UNIT,SF_SJ_GROUP
  WHERE SF_SJ.PRODUCTOR_ID=SF_SJ_SUPPLIER.SUPPLIER_ID
  AND SF_SJ.UNIT_ID=UNIT.UNIT_ID(+)
  AND SF_SJ.GROUP_ID=SF_SJ_GROUP.GROUP_ID(+)
  AND  SF_SJ.SJ_ID = #sfId:DECIMAL# 
  and  
	exists (select 1 from sf_sj_in where sf_sj.SJ_ID=sf_sj_in.SJ_ID )
	 
  </select>
  
</sqlMap>